/*
CSS Specific to Card Generation
*/

/* Default design for >1300 px screens, site size set to 1300px */
/* Card definitions for home page renderings */
#shop_directory_hero_bkg, #food_directory_hero_bkg {
	margin-top:-50px;
	width: 100vw !important;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	height: calc(180px + 25vw);
	max-height:540px;
	background-color: #000000;
	padding: 40px;
}

#shop_directory_hero_bkg {
	background-image: -webkit-linear-gradient(110deg, #ffffff 50%, #543296 50%);
}

#food_directory_hero_bkg {
	background-image: -webkit-linear-gradient(110deg, #ffffff 50%, #008000 50%);
}

#directory_hero_img {
	width:100%;
	max-width:1300px;
	margin:0 auto;
	height: calc(100px + 25vw);
	max-height:450px;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:center !important;
}

#shop_directory_chooser {
	position:absolute;
	z-index:20;
	width:100%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
#shop_directory_dropdown {
	float:left;
	margin:10px 0 0;
	padding:20px;
	width:100%;
	background-color:#ffffff;
}
#shop_directory_options {
	display:none;
}
.shop_directory_column {
	border-top:1px solid black;
	background-color:#ffffff;
	width:25%;
	padding:20px;
	float:left;
}
.shop_directory_option {margin:8px 0;}
.shop_directory_selected {
	color:#2222cc;
}
.shop_directory {
	position:relative;
	top:100px;
}
.shop_directory .full_shop_cards {
	overflow:auto;
	width:100%;
	/*margin-left:-1%;*/
	margin-left:0;
	margin-bottom:35px;
}

.full_shop_directory {
	padding:10px 15px;
	border:1px solid white;
}
.shop_card_hidden {display: none;}

.shop_directory_container {
	width:31.33%;
	margin:0 1% 35px;
	float:left;
	height:240px;
}
.shop_directory .shop_card_image {
	position:relative;
	width:45%;
	height:100%;
	float:left;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:center !important;
}
.shop_card_overlay {
	
}
.shop_directory .shop_card_detail {
	position:relative;
	color:#000000;
	float:left;
	height:100%;
	width:50%;
	padding:10px 20px;
}

.shop_card_title {
	height: 100px;
}
.shop_card_snippet {
	height: 80px;
}
.shop_card_special {
	position: absolute;
	bottom:24px;
}
.shop_card_link {
	position: absolute;
	bottom:24px;
	right:20px;
}

/* Mobile breakpoint and adjustments */
@media screen and (max-width: 639px) {
	.shop_directory_container {
		width:100%;
	}
}
